<div class="home-banner">
  <h1 id="banner-typed-text"></h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veniam tempora quae, maiores est ut ea nesciunt, veritatis recusandae molestiae vero, eveniet facere dignissimos ratione qui! Est qui vel officia!
      Minima eius optio corrupti deserunt. Maxime, recusandae enim iure culpa velit saepe reiciendis quod esse animi officiis, dolore soluta suscipit assumenda, excepturi porro impedit expedita veniam. Itaque illum ex corporis.
      Libero omnis impedit maxime ratione aliquam at ab in. Fuga blanditiis nisi ducimus iure ratione hic voluptas veritatis ipsum quisquam aperiam. Consequatur minima suscipit, atque voluptatem tempore distinctio ab dolorem?
      Id harum deserunt pariatur, cumque earum placeat omnis libero, quaerat soluta vel sit ullam iste. Quam blanditiis aliquam, beatae tenetur fuga expedita magni enim! Accusantium hic ad necessitatibus accusamus minus.
      Mollitia dolore cupiditate eligendi voluptatibus, similique repudiandae ipsam non! Id perspiciatis praesentium quas maxime quo adipisci corporis ad possimus. Voluptate nam aliquid neque ab nesciunt natus enim. Ipsa, voluptas perspiciatis.
      Optio maiores animi nihil odio maxime autem? Blanditiis odio, soluta deserunt eligendi nam modi officiis quam provident temporibus minima vero rerum iste molestias illo enim eos aut? Commodi, est adipisci.
      Eveniet maxime commodi ipsum omnis labore blanditiis aspernatur delectus voluptas officiis veritatis perspiciatis dolorem architecto voluptates illum, asperiores doloremque tempore, praesentium nostrum incidunt eligendi esse vitae recusandae? Molestias, earum suscipit.
      Sequi autem ducimus obcaecati quisquam nihil porro officia ab culpa in, tempore aperiam vel incidunt itaque dolore sit, laudantium repellendus cum? Delectus fugit eaque eum expedita repellendus totam, suscipit maiores.
      Minus nihil nemo officiis quam quos itaque, dolores dicta omnis aliquam in ut animi accusamus enim nulla asperiores a. Dicta sit laboriosam qui ipsum ipsa consequatur sed beatae molestiae nobis?
      Placeat in laborum aut officia fugiat accusantium natus. Ea, aperiam totam. Sit praesentium sed eius quisquam delectus minus, reiciendis similique laboriosam facilis reprehenderit aperiam magni modi vero quidem ea accusamus!
      Vel minus tempore fugit tenetur consectetur fuga laudantium neque quasi nostrum, suscipit facilis, dolorem voluptatem maxime officiis ipsam deserunt repudiandae possimus ad nisi pariatur cumque aut? Deserunt ipsam tenetur error?
      Esse culpa possimus fugit magni deleniti neque nostrum? Reiciendis tempora veniam repudiandae repellat placeat vero ab, suscipit corporis, eveniet minus quis harum? Doloribus molestiae quaerat rem at inventore quasi suscipit.
      Asperiores dolor unde possimus similique voluptas, accusamus consequatur labore vero perferendis dolorem. Nam quisquam odio eveniet voluptates. Amet, ea temporibus ullam, voluptatum tempore iste nemo hic eius vitae necessitatibus obcaecati?
      Saepe, ducimus beatae repellat amet veniam ratione qui fugit aperiam unde eligendi. Possimus dignissimos accusantium sed, ea sapiente eius quia esse in autem neque pariatur sequi? Repellendus quidem illum temporibus.
      Ipsum aut fugiat, natus doloribus incidunt est corporis maxime nam ipsa similique quas quaerat consectetur molestias inventore! Architecto aperiam aut magni quis sequi magnam, vitae corporis eius, laboriosam veritatis consequatur!
      Quos harum impedit voluptates obcaecati expedita debitis, hic sed? Possimus sed quidem necessitatibus velit repellat accusantium error officiis sapiente, deserunt eos aliquid, eius sint dolore aspernatur enim. Ea, expedita nam.
      Atque, numquam similique. Eum magnam sed quas cum porro libero rem ea minima eos sunt exercitationem nulla, dignissimos, officiis repellendus harum impedit in! Dolore, nihil porro expedita unde sequi ex.
      Dignissimos laudantium laboriosam ipsum tempora perspiciatis ducimus nemo, fugiat nisi excepturi officiis facere necessitatibus quam unde, alias pariatur laborum tenetur. Illo cum eum rerum iusto deserunt qui provident, voluptate cumque?
      Repudiandae ea suscipit minima quos. Dolores eligendi sequi doloremque cupiditate nihil sit suscipit quo ea corporis commodi laboriosam vel ab, ullam quos fuga libero nisi error, sint omnis porro reprehenderit!
      Accusamus nostrum enim natus voluptatum deleniti alias aliquam ipsa veniam molestias quam odio corrupti omnis, consequatur vero voluptatibus unde nemo dolor optio dignissimos. Odit alias eos aliquid eaque quae nisi?
      Ex soluta dolore odit officia aliquid praesentium velit saepe quos sapiente impedit quasi, dolorum fuga porro necessitatibus laborum ducimus. Magni atque sed placeat reiciendis sequi! Nihil cumque eos veritatis autem!
      Commodi iusto labore numquam amet esse distinctio blanditiis, consectetur aliquid, doloremque at a odio earum repellat vero sunt magnam ab ipsa voluptatibus eveniet. Reiciendis quas, incidunt inventore non debitis iusto?
      Accusamus minus sunt tempore eaque blanditiis minima enim quisquam quis. Illum, est aspernatur, consectetur voluptates doloremque cum distinctio magni, eaque doloribus modi consequuntur! Velit vero eius ducimus saepe laboriosam. Sequi!
      Corporis voluptatum veritatis dolor omnis nihil molestiae quisquam autem nesciunt cupiditate. Voluptate fugiat sequi dolorem dolores expedita possimus, laudantium reprehenderit, nemo nesciunt doloribus aliquid eius aperiam enim perferendis inventore at.
      Ipsa, voluptatibus culpa aperiam saepe quae at ab dignissimos maiores? Nostrum autem amet maxime provident repellat cum ab sint voluptatem minus, ipsum hic ipsa harum voluptas, culpa veniam, officiis iusto!
      Sunt eligendi laudantium facilis commodi, tenetur cum voluptas maiores corrupti aliquam doloribus asperiores, obcaecati quis et explicabo ipsam ab? Et, temporibus in omnis non asperiores doloremque maiores cum ipsam id!
      Ipsum praesentium architecto dolor ab quaerat quam cupiditate vel totam ad distinctio voluptatem excepturi sit reprehenderit officiis quo ullam consectetur nam blanditiis, vitae atque officia? Quia earum perspiciatis officia alias.
      Repellendus neque esse illum ipsa ex dicta officiis, adipisci nisi nobis quia iste iure et id beatae sed aliquam porro, assumenda est aliquid? Magnam in quo at animi vel! Expedita!
      Molestias aperiam odit ullam quos sequi? Enim iste dolor adipisci error repellat perspiciatis, itaque sunt nesciunt officia cupiditate expedita commodi aspernatur. Laboriosam cum beatae totam delectus nostrum quaerat, ratione accusantium?
      Sequi explicabo voluptates nemo ex aliquam minima officia facere nesciunt voluptate quibusdam quas architecto dolores, minus culpa totam nihil accusantium ullam sapiente adipisci earum quaerat pariatur est cum. Maiores, recusandae.
      Ad dolores quis, molestiae iure voluptate perspiciatis accusamus dicta dolorum consectetur necessitatibus quas vero maxime quod eos. Similique a sit deserunt soluta? Laborum saepe alias sunt laudantium vero perspiciatis possimus?
      Placeat sed, delectus ipsa quo non quasi esse aliquid, pariatur aspernatur minus voluptatum natus nesciunt sunt provident soluta! Et id doloribus aperiam quisquam tenetur quo illo, unde quas placeat! Optio?
      Nostrum fuga a, odio quas quis illo illum sunt non eos error rerum, harum quidem sequi blanditiis saepe totam tenetur! Reiciendis ab esse excepturi explicabo! Iste voluptatem corrupti itaque cumque?
      Natus alias quae illum soluta obcaecati voluptate doloribus delectus animi necessitatibus repellendus tenetur modi fugit consectetur iure qui dolores officiis, ut esse perspiciatis ad veritatis quod. Doloribus praesentium eum quod.
      Fuga sapiente, reprehenderit laborum ipsa similique animi? Provident totam voluptate commodi officiis debitis a autem alias ut consequatur, optio sunt molestiae dolore quod minima cumque suscipit repellendus consequuntur, ab porro.
      Voluptate voluptatum rerum excepturi aspernatur consectetur eveniet corporis, placeat rem aut voluptates dolor ullam sit temporibus culpa. Quis omnis, distinctio tempore suscipit ipsum blanditiis earum quas culpa fugiat eveniet explicabo!
      Laboriosam ea quam sit magni quibusdam labore possimus quis blanditiis laborum nisi enim eligendi, necessitatibus alias molestiae velit excepturi doloribus. Reiciendis est, illum voluptatem pariatur maxime nihil ipsam minima numquam?
      Eum impedit repellendus doloribus numquam quidem repudiandae a doloremque adipisci assumenda ipsum quas earum optio cumque provident, mollitia voluptates necessitatibus. Pariatur nesciunt laudantium eaque ipsa repudiandae possimus tenetur voluptatem assumenda?
      Nemo asperiores officia animi aliquid. Harum provident magnam sed perspiciatis ipsum est minima hic repellat consectetur inventore facere officiis quasi sequi autem, dicta non quibusdam ratione ea fugiat iste quo?
      Voluptates quae, maiores deleniti numquam eaque cupiditate natus alias nobis assumenda laborum quidem quia tenetur quos dolore velit labore fugit reprehenderit. Minus sint sit placeat quo commodi expedita quibusdam modi!</p>
    </div>
  </div>
</div>


<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button">Learn more</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>
  </p>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%= image_tag 'logo.png', alt: 'ALT_TEXT'%>
